authentication-server/node_modules
authentication-server/.env
authentication-server/*.local
authentication-server/.env.local
authentication-server/.env.*.local

frontend-server/node_modules
frontend-server/.env
frontend-server/dist
frontend-server/dist-ssr
frontend-server/*.local
frontend-server/.env.local
frontend-server/.env.*.local


resource-server/node_modules
resource-server/.env
resource-server/*.local
resource-server/.env.local
resource-server/.env.*.local