# This is basic Ready made demonstration setup This is a default setup.

#Mongo Database
MONGO_DB="mongodb://localhost:27017/"

#Redis Database
REDIS_DB='redis://localhost:6379'

#Server Config
PORT=5000